<h2> List of ratings </h2>

<ul>
    <% @ratings.each do |rating| %>
        <li> <%= rating %> <%= link_to rating.user.username, user_path(rating.user_id) %> </li>
    <% end %>
</ul>

<p>Total number of ratings: <%= @ratings.size %></p>

<p><%= link_to 'New Rating', new_rating_path %></p>